* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dis-white: #fff;
    --dis-gray: #f6f6f6;
    --dis-primary-color: blue;
    --dis-light-color: gray;
    --dis-dark-color: #23272a;
    --dis-blue-sky: #3161e0;
    --sky-light: #8ea1e1;

body{font-family: Helvetica,"Roboto",Arial,sans-serif; font-size: 1.6rem;}

#debug * {border: 1px dashed;}

#debug .container-sm {
    height: 600px;
    /* background-color: paleturquoise; */
}
#debug .w-40,
#debug .w-60 {
    height: 300px;
}

#debug [class^="col-"] {
    height: 350px;
    background-color: plum;
}

img{max-width: 100%;}
.font-size-16{font-size: 16px;}

.container {
    width: 80%;
    max-width: 1172px;
    margin: auto;
}
.container-sm {
    width: 52%;
    margin: auto;
    padding: 0px;
}

.d-flex {display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-align-center{align-items: center;}
.flex-justify-center{justify-content: center;}
.flex-center-center{
    justify-content: center;
    align-items: center;
}
.text-center{text-align: center;}
.color-dark{color: var(--dis-dark-color);}
.justify-content-between{justify-content: space-between;}
.w-40{width: 40%;}
.w-60{width: 60%;}
.col-1  { width: calc((100% / 12) * 1); }
.col-2  { width: calc((100% / 12) * 2); }
.col-3  { width: calc((100% / 12) * 3); }
.col-4  { width: calc((100% / 12) * 4); }
.col-5  { width: calc((100% / 12) * 5); }
.col-6  { width: calc((100% / 12) * 6); }
.col-7  { width: calc((100% / 12) * 7); }
.col-8  { width: calc((100% / 12) * 8); }
.col-9  { width: calc((100% / 12) * 9); }
.col-10 { width: calc((100% / 12) * 10); }
.col-11 { width: calc((100% / 12) * 11); }
.col-12 { width: 100%; } /* Ultima colonna è il 100% */

/* Makes the rule important and not overridable */
hr.divider{border-bottom: 2px solid white !important;}
/* Spacings */
.py-4 {padding: 5rem 0rem;}
.pt{padding-top:3rem;}
.gap-50{gap: 50px;}
.column_gap{
    flex-direction: column;
    gap: 1rem;
}

/* colors */
.bg-white{background-color: var(--dis-white);}
.bg-gray{background-color: var(--dis-gray);}
.bg-primary{background-color: var(--dis-primary-color);}
.bg-light{background-color: var(--dis-light-color);}
.bg-dark{background-color: var(--dis-dark-color);}
.color-gray3{color: #7187d7;}

.bg-sky{background-color: var(--dis-blue-sky);}
.bg-sky-light{background-color: var(--sky-light);}

.img_cover_norepeat_center{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_contain_norepeat_center{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.test_hight{height: 100px;}
.text-white{color: var(--dis-white);
}
.text-align-center{text-align: center;}
.gap-10{gap: 10px;}
.gap-20{gap:20px;}
.img-cover-norepeat-center{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.padding-test{padding: 0 100px;}
.button{
    color: var(--dis-dark-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.85rem;
}
#app_header {
    padding: 1rem 0;
    .logo{
        background-image: url("../assets/img/logo.svg");  /* Percorso dell'immagine */
        background-size: contain;  /* L'immagine si adatta al contenitore */
        background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
        background-position: center;  /* Centra l'immagine all'interno del div */
        width:150px;
    }
    .login{
        display: flex;
    }
    .login span{
        text-align: center;
        color: #121222;
        background-color: #fff;
        padding: 0.45rem 0.68rem;
        border-radius: 1.2rem;
        cursor: pointer;
    }
    .main_menu{
        flex-grow: 3;
        text-align: center;
        gap: 1.7rem;
    }
    .main_menu span{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
/* Main */
#app_main {
    .main_block_center h1, .container.p{
        color: var(--dis-white);
    }
    /* backgr images*/
    .bg-jumboimg{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../assets/img/jumbo.png");
        background-size: cover; /* NO Contain!!,impedisce il ritaglio if necessary */
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .main_block_center{
        display: flex;
        flex-direction: column;
    }
    h1{
        flex-grow: 1;
        font-size: 33px;
        text-align: right;
    }
    p{
        flex-grow: 1;
        font-size: 18px;
    }
    .main_buttons {
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        gap: 4rem;
    }
    .main_button_download{
        background-color: white; padding:0.6rem;border-radius: 1.9rem;
    }
    .main_button_onbrowser {
        background-color: var(--dis-dark-color);
        color: var(--dis-white); 
        padding: 0.25rem 0.5rem;
        border-radius: 0.85rem;
    }
    #main_frog_lecture{
        background-image: url("../assets/img/item1.svg");
    }
    #wizard_and_pork_voices{
        background-image: url("../assets/img/item2.svg");
    }
    #oculus_smiling{
        background-image: url("../assets/img/item3.svg");
    }
    .py-100lr_column_gap h1, .py-100lr_column_gap p{
        display: flex;
        justify-content: start;
        text-align: left;
    }
    #tech_stay_in_touch{
        background-image: url("../assets/img/item4-big.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
}

/* Footer */
#app_footer {
    .bottom {
        padding: 1rem 0;
        color: white;
    }
}

.logo, .main_menu, .login{
    color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
}
}