/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dis-primary-color: blue;
    --dis-light-color: gray;
    --dis-dark-color: #121222;

}

/* Makes images responsive (adaptable to their contaienr */
img {
    max-width: 100%;
}

/* debug 
Mettere nelle regole di debug solo le alezze fisse e colori di sfondo sgargianti 
*/

#debug * {
    border: 1px dashed;
}

#debug header {
    background-color: red;

}

#debug .container-sm {
    height: 400px;
    background-color: paleturquoise;

}

#debug .w-40,
#debug .w-60 {
    height: 300px;
    background-color: blueviolet;
}

#debug [class^="col-"] {
    height: 350px;
    background-color: plum;
}

/* utities */
.container {
    width: 80%;
    max-width: 1172px;
    margin: auto;
}

.container-sm {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}


.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-6 {
    width: 50%;
}

.col-12 {
    width: 100%;
}


/* Makes the rule important and not overridable */
hr.divider {
    border-bottom: 2px solid white !important;
}

/* Spacings */
.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* colors */

.bg-primary {
    background-color: var(--dis-primary-color);
}

.bg-light {
    background-color: var(--dis-light-color);
}

.bg-dark {
    background-color: var(--dis-dark-color);
}

/* header */

#app_header {

    padding: 1rem 0;

    .logo,
    .login {
        flex-grow: 1
    }

    .login {
        text-align: end;
    }

    .main_menu {
        flex-grow: 2;
        text-align: center;
    }
}


/* Main */

#app_main {}


/* Footer */

#app_footer {
    .bottom {
        padding: 1rem 0;
        color: white;
    }
}