/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dis-white: #fff;
    --dis-gray: #f6f6f6;
    --dis-primary-color: blue;
    --dis-light-color: gray;
    --dis-dark-color: #121222;
    --dis-blue-sky: #3161e0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Makes images responsive (adaptable to their contaienr */
img {
    max-width: 100%;
}

/* debug 
Mettere nelle regole di debug solo le alezze fisse e colori di sfondo sgargianti 
*/
#debug * {
    border: 1px dashed;
}
#debug header {
    background-color: var(--dis-blue-sky);

}
#debug .container-sm {
    height: 600px;
    /* background-color: paleturquoise; */
}
#debug .w-40,
#debug .w-60 {
    height: 300px;
    /* background-color: blueviolet; */
}

#debug [class^="col-"] {
    height: 350px;
    background-color: plum;
}

/* utities */
.container {
    width: 80%;
    max-width: 1172px;
    margin: auto;
}
.container-sm {
    width: 52%;
    margin: auto;
    padding: 0px;
}

.d-flex {
    display: flex;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-center-center{
    justify-content: center;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}
.col-1 {
    width: calc((100% / 12) * 1);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-6 {
    width: 50%;
}
.col-12 {
    width: 100%;
}
/* Makes the rule important and not overridable */
hr.divider {
    border-bottom: 2px solid white !important;
}
/* Spacings */
.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.gap-50{
    gap: 50px;
}
.column_gap{
    flex-direction: column;
    gap: 20px;
}

/* colors */
.bg-white{
    background-color: var(--dis-white);
}
.bg-gray{
    background-color: var(--dis-gray);
}
.bg-primary {
    background-color: var(--dis-primary-color);
}
.bg-light {
    background-color: var(--dis-light-color);
}
.bg-dark {
    background-color: var(--dis-dark-color);
}
.img_cover_norepeat_center{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.test_hight{
    height: 100px;
}

.text-white{
    color: var(--dis-white);
}
.text-align-center{
    text-align: center;
}

/* header */
#app_header {
    padding: 1rem 0;
    .logo{
        background-image: url("/assets/img/logo.svg");  /* Percorso dell'immagine */
        background-size: contain;  /* L'immagine si adatta al contenitore */
        background-repeat: no-repeat;  /* Evita che l'immagine si ripeta */
        background-position: center;  /* Centra l'immagine all'interno del div */
        width:150px;
    }
    .login{
        display: flex;
        flex-grow: 1;
        justify-content: end;
    }
    .login span{
        text-align: center;
        color: #121222;
        background-color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.7rem;
        cursor: pointer;
    }
    .main_menu {
        flex-grow: 3;
        text-align: center;
    }
    .main_menu span{
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
/* Main */
#app_main {
    .main_block_center h1, .container.p{
        color: var(--dis-white);
    }
    /* backgr images*/
    .bg-jumboimg{
        display: flex;
        align-items: start;
        background-image: url("/assets/img/jumbo.png");
        background-size: cover; /* NO Contain!!,impedisce il ritaglio if necessary */
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    .main_block_center{
        display: flex;
        flex-direction: column;
    }
    .flex-column{
        h1{
            flex-grow: 1;
            font-size: 33px;
            text-align: right;
        }
        p{
            flex-grow: 1;
            font-size: 18px;
            text-align: right;
            color: #fff;
        }
        .main_buttons {
            flex-grow: 1;
            display: flex;
            flex-direction: row; 
            justify-content: space-around; 
            align-items: center;
            gap: 2rem;
        }
        .main_button_download {
            background-color: var(--dis-white);
            color: var(--dis-dark-color);
            padding: 0.25rem 0.5rem;
            border-radius: 0.85rem;
        }
        .main_button_onbrowser {
            background-color: var(--dis-dark-color);
            color: var(--dis-white); 
            padding: 0.25rem 0.5rem;
            border-radius: 0.85rem;
        }
    }
    #main_frog_lecture{
        background-image: url("/assets/img/item1.svg");
    }
    #wizard_and_pork_voices{
        background-image: url("/assets/img/item2.svg");
    }
    #oculus_smiling{
        background-image: url("/assets/img/item3.svg");
    }
    .py-100lr_column_gap h1, .py-100lr_column_gap p{
        display: flex;
        justify-content: start;
        text-align: left;
    }
    #tech_stay_in_touch{
        background-image: url("/assets/img/item4-big.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    }
}

/* Footer */
#app_footer {
    .bottom {
        padding: 1rem 0;
        color: white;
    }
}

.logo, .main_menu, .login{
    color: white;
    flex: 1;
    justify-content: center;
    align-items: center;
}
